<aside>
    <div class="aside">
        <button id="newFolder" class="buttonNone">Dodaj nowy folder</button>
        <button id="newFile" class="buttonNone">Dodaj plik tekstowy</button>
        <form action="">
            <label for="upload" class="uploadManager">
                Custom Upload
                <input type="file" multiple required name="image" id="upload">
                <input type="submit" value="OK">
            </label>
        </form>
    </div>
</aside>
<div id="container">
    <dialog id="dialogFolder">
        <p>Nazwa nowego folderu w</p>
        <form action="/createFolder" method="GET">
            <input type="text" name="name">
            <input type="submit" value="ok">
            <button id="cancleFolder">cancle</button>
        </form>
    </dialog>
    <dialog id="dialogFile">
        <p>Nazwa nowego pliku w</p>
        <form action="/createFile" method="GET">
            <input type="text" name="name">
            <input type="submit" value="ok">
            <button id="cancleFile">cancle</button>
        </form>
    </dialog>
    <div id="main">
        {{#each fileM}}
            <h1>kupa</h1>
        {{/each}}

    </div>
</div>
<script>


    //dialog folder
    const showDialogFolder = document.getElementById("newFolder")
    const dialogFolder = document.getElementById("dialogFolder")
    const cancleFolder = document.getElementById("cancleFolder")
    showDialogFolder.addEventListener("click", () => {
        dialogFolder.showModal();
    })
    cancleFolder.addEventListener("click", () => {
        dialogFolder.close();
    })

    //dialog file
    const showDialogFile = document.getElementById("newFile")
    const dialogFile = document.getElementById("dialogFile")
    const cancleFile = document.getElementById("cancleFile")
    showDialogFile.addEventListener("click", () => {
        dialogFile.showModal();
    })
    cancleFile.addEventListener("click", () => {
        dialogFile.close();
    })

</script>