body {
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
}

* {
	margin: 0;
	top: 0;
}

.main {
	width: auto;
	height: 10vh;
	padding: 20px;
	height: auto;
	background-color: black;
	flex-direction: row;
	font-weight: 1000;
}

a {
	color: #e31eb5;
	margin: 10px;
}

.lewy {
	width: 25vw;
	height: 90vh;
	background-color: darkgray;
	text-align: center;
}

.link {
	color: blueviolet;
}

.prawy {
	width: 75vw;
	height: auto;
}

.flex {
	display: flex;
	flex-direction: row;
	height: 90vh;
}

input {
	margin-left: 20px;
	margin-top: 20px;
}

.input {
	border-radius: 5px;
}

p {
	font-size: 15px;
	margin-left: 20px;
}

tr {
	width: 75vw;
	height: 40px;
}

th {
	width: 8.3vw;
}

td {
	width: 8.3vw;
	text-align: center;
}

.info {
	padding-left: 40px;
}

img {
	width: auto;
	height: 40px;
}

.input {
	padding: 5px;
	border-radius: 10px;
	background-color: grey;
}

input[type="file"]::file-selector-button {
	padding: 5px;
	border-radius: 10px;
	background-color: grey;
}

button {
	margin-top: 10px;
	padding: 5px;
	border-radius: 10px;
	background-color: grey;
}

dialog {
	margin: auto;
	background-color: darkgrey;
	border-radius: 5px;
}

.cancel {
	margin-left: 5px;
}

.itext {
	border-radius: 5px;
	border: solid black 2px;
	box-sizing: none;
	padding: 5px;
}

.obiekt {
	margin: 20px;
	width: auto;
	display: inline-block;
}

/* .pom {
	width: 200px;
	background-color: red;
	display: inline-block;
} */

.x {
	width: 10px;
	height: 10px;
	border: 2px solid black;
}