<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express FileManager</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav class="navbar">
        <a class="menu" href="/">UPLOAD</a>
        <a class="menu" href="/filemanager">FILEMANAGER</a>
        <a class="menu" href="/info">INFO</a>
    </nav>

    <div class="main">
        {{{ body }}}
    </div>

</body>

</html>