<div class="aside">

</div>
<div class="right">
    <div style="margin-left: 30px; margin-top: 20px;">
        <h1>Upload</h1>

        <form enctype="multipart/form-data" method="POST" action="/">
            <input type="file" multiple require name="files">
            <input class="btn" type="submit" value="UPLOAD">
        </form>
    </div>
</div>