<h1>02: Dane logowania</h1>

<form action="/handleForm" method="GET">
    <input type="text" name="login">
    <input type="text" name="password">
    <input type="submit" value="Save" class="submit">
</form>

<table>
    <tr>
        <td>{{LiczbaPorzadkowa}}</td>
        <td>{{Login}}</td>
        <td>{{Haslo}}</td>
    </tr>
</table>