* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    color: white;
    background-color: rgb(0, 0, 0);
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    font-size: 30px;
}

.right {
    position: fixed;
    top: 100px;
    left: 300px;
}

.main {
    position: fixed;
    left: 0;
    top: 100px;
    height: 100%;
}

.menu {
    font-weight: 500;
    color: red;
    text-decoration: none;
    padding: 60px;
}

.aside {
    background-color: rgb(192, 192, 192);
    width: 300px;
    height: 100%;
    font-weight: bold;
    font-size: 25px;
    padding-top: 15px;
    text-align: center;
}

td {
    width: 100px;
    padding: 5px;
    text-align: center;
    height: 70px;
    font-size: 20px;
}

thead {
    color: white;
    background-color: rgb(37, 37, 37);
    height: 50px;
}

img {
    height: 50px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: red;
}

.wyjatkowy {
    color: red;
}

.btn {
    border: 1px solid red;
    background-color: black;
    color: red;
    border-radius: 5px;
    height: 30px;
    width: 80px;
}