<aside>
    <div class="aside">
        <p>multiupload</p>
    </div>
</aside>
<form enctype="multipart/form-data" class="upload content" method="POST" action="/filemanager">
    <input type="file" multiple required name="image" value="Wybierz plik">
    <input type="submit" value="Wyślij" id="submit">
</form>