<div class="registerNav">
    <h1 style="color: red;">ERROR</h1>
    <h4>Za chwilę zostaniesz przeniesiony...</h4>
    <meta http-equiv="Refresh" content="3; '/login'">
</div>


<script>
    document.getElementById("navbarNav").style.display = "none"
</script>