<div class="registerNav">
    <h1>Login</h1>
    <a href="/register"> <button class="buttonMenu">Register</button></a>
    <a href="/upload"><button class="buttonMenu">Upload</button></a>
    <a href="/manager"><button class="buttonMenu">File Manager</button></a>
</div>
<div class="formRegister">
    <form action="/login" method="POST">
        <input type="text" name="name" id="" placeholder="Enter name" class="formInput">
        <input type="password" name="pass" placeholder="Enter pass" class="formInput">
        <input type="submit" value="Login" class="formInput" id="registerSubmit">
    </form>
</div>

<script>
    document.getElementById("navbarNav").style.display = "none"
</script>