<div class="registerNav">
    <h1>Za chwilę zostaniesz wylogowany...</h1>
    <meta http-equiv="Refresh" content="3; '/login'">
</div>


<script>
    document.getElementById("navbarNav").style.display = "none"
</script>